test
*.2bit
a.out
Test_Output
Multifasta_random.fasta
gsl_test.cpp
*.fasta
*.R
provathread.cpp
*Hit*
FOS.txt
RFX5.txt
*bed_test*
*jaspar*
nohup.out
TESTING_MOCOLOCO/MOCO
*Prova_BED*
*noImplant_test*
*noImplant_R_test*
*JUND*
MocoLoco_noref*
Old_MOCO
TESTING_MOCOLOCO/MOCO
intersect*/
MIXED*/
nfy*/
*.out
TESTING_MOCOLOCO/*-mers*
Intersect/
oligo_class*
MOCO
